Homework 1:

import pandas as pd

data = {'First Name': ['Alice', 'Bob', 'Charlie', 'David'], 'Age': [25, 30, 35, 40], 'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']} df = pd.DataFrame(data)

Rename column names using function. "First Name" --> "first_name", "Age" --> "age
Print the first 3 rows of the DataFrame
Find the mean age of the individuals
Select and print only the 'Name' and 'City' columns
Add a new column 'Salary' with random salary values
Display summary statistics of the DataFrame

In [119]:
import pandas as pd
data = ({'First Name': ['Alice', 'Bob', 'Charlie', 'David'], 
        'Age': [25, 30, 35, 40],
        'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']})
df = pd.DataFrame(data)

In [120]:
df.rename(columns={'First Name':'firs_name', 'Age':'age'}, inplace=True)

In [121]:
print(df.head(3))

  firs_name  age           City
0     Alice   25       New York
1       Bob   30  San Francisco
2   Charlie   35    Los Angeles

In [122]:
mean = df['age'].mean()
print(f"Mean age: {mean}")

Mean age: 32.5

In [123]:
print(df[['firs_name','City']])

  firs_name           City
0     Alice       New York
1       Bob  San Francisco
2   Charlie    Los Angeles
3     David        Chicago

In [124]:
import numpy as np

In [131]:
df['Salary'] = np.random.randint(10000,50000)
print(df)

  firs_name  age           City  Salary
0     Alice   25       New York   39170
1       Bob   30  San Francisco   39170
2   Charlie   35    Los Angeles   39170
3     David   40        Chicago   39170

In [132]:
print(df.describe())

             age   Salary
count   4.000000      4.0
mean   32.500000  39170.0
std     6.454972      0.0
min    25.000000  39170.0
25%    28.750000  39170.0
50%    32.500000  39170.0
75%    36.250000  39170.0
max    40.000000  39170.0