Homework 2:

Create a DataFrame named sales_and_expenses with columns 'Month', 'Sales', and 'Expenses', representing monthly sales and expenses data. Use below table.
Month	Sales	Expenses
Jan	5000	3000
Feb	6000	3500
Mar	7500	4000
Apr	8000	4500
Calculate and display the maximum sales and expenses.
Calculate and display the minimum sales and expenses.
Calculate and display the average sales and expenses.

In [6]:
import pandas as pd

In [7]:
data = {'Month' : ['Jan', 'Feb', 'Mar', 'Apr'], 
        'Sales' : [5000, 6000, 7500, 8000],
        'Expenses' : [3000,3500,4000,4500]}
df = pd.DataFrame(data)
print(df)

  Month  Sales  Expenses
0   Jan   5000      3000
1   Feb   6000      3500
2   Mar   7500      4000
3   Apr   8000      4500

In [ ]:
df_min = df.iloc[:,1:3].min()
print(df_min)

Sales       5000
Expenses    3000
dtype: int64

In [30]:
df_min = df.iloc[:,1:3].max()
print(df_min)

Sales       8000
Expenses    4500
dtype: int64

In [32]:
df_min = df.iloc[:,1:3].mean()
print(df_min)

Sales       6625.0
Expenses    3750.0
dtype: float64