Homework Assignment 1: Analyzing Sales Data

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv(r'C:\Users\admin\Desktop\hw\homeworks\lesson-19\task\sales_data.csv')
df.head()

         Date       Product     Category  Quantity  Price
0  2023-01-01        Laptop  Electronics        10    800
1  2023-01-01       T-Shirt     Clothing         5     20
2  2023-01-02    Smartphone  Electronics         8    400
3  2023-01-02  Coffee Maker         Home        12     50
4  2023-01-03         Jeans     Clothing        15     30

In [6]:
#1
df1 = df.groupby("Category").agg(
    Total_quantity=('Quantity', 'sum'),
    Avg_price=('Price', 'mean'),
    Max_quantity=('Quantity', 'max')
)
df1

             Total_quantity   Avg_price  Max_quantity
Category
Clothing                157   31.176471            15
Electronics             183  276.764706            15
Home                    144   55.000000            14

In [7]:
#2
df2 = df.groupby(['Category', 'Product'])['Quantity'].sum().reset_index()
df_3 = df2.loc[df2.groupby('Category')['Quantity'].idxmax()]
df_3

       Category          Product  Quantity
8      Clothing            Jeans        15
27  Electronics         Smart TV        15
46         Home  Pressure Cooker        14

In [9]:
#3
df ['Total_sales'] = df['Quantity'] * df['Price']
max_date = df.loc[df['Total_sales'].idxmax()]
max_date['Date']

'2023-01-07'