In [7]:
import pandas as pd

In [8]:
df = pd.read_csv(r"C:\Users\admin\Desktop\hw\homeworks\lesson-19\task\customer_orders.csv")
df.head()

   OrderID  CustomerID              Product  Quantity  Price
0        1         101               Laptop         2    800
1        2         102           Headphones         1    150
2        3         103           Smartphone         3    400
3        4         101  External Hard Drive         2     80
4        5         102             Backpack         1     40

In [12]:
#1
df1 = df['CustomerID'].value_counts()
df_1 = df1[df1<20].index
df_11 = df[df['CustomerID'].isin(df_1)]
df_11

    OrderID  CustomerID                 Product  Quantity  Price
10       11         105                Sneakers         2     50
17       18         105        Wireless Speaker         1     70
22       23         105  Point-and-Shoot Camera         1    250
27       28         105               Projector         1    200
32       33         105                   Drone         1    300
37       38         105              Desk Chair         1     75
42       43         105             Denim Skirt         1     25
47       48         105             Cargo Pants         2     30
52       53         105           Comforter Set         1     45
57       58         105             Dress Shirt         2     25
62       63         105                Sneakers         1     50
67       68         105             Cargo Pants         1     30
72       73         105                  Hoodie         1     25
77       78         105               Projector         1    200
82       83         105            Formal Shoes         1     60
87       88         105            Casual Shoes         1     30
92       93         105          Wireless Mouse         1     25
97       98         105           Comforter Set         1     45

In [ ]:
#2
df_2 = df.groupby('Product')['Price'].mean().reset_index()
df_21 = df_2[df_2['Price'] > 120]['Product']
df22 = df[df['Product'].isin(df_21)]['CustomerID'].unique()
df22

array([101, 102, 103, 104, 105])

In [15]:
product_summary = df.groupby('Product').agg(
    U_miqdor=('Quantity', 'sum'),
    U_narx=('Price', 'sum')
).reset_index()
low_quantity = product_summary[product_summary['U_miqdor'] < 5]
low_quantity

                   Product  U_miqdor  U_narx
0                 Backpack         4     160
1                  Blender         4     180
2           Blu-ray Player         2     140
3        Bluetooth Headset         2     100
4                Bookshelf         2     160
6             Casual Shoes         3      90
7             Coffee Maker         3     150
8             Coffee Table         3     200
9            Comforter Set         3     135
10            Cookware Set         1      60
11            Denim Jacket         2      90
12             Denim Skirt         1      25
13              Desk Chair         2     150
14               Desk Lamp         2      50
16                   Drone         2     600
17     External Hard Drive         3     160
18         Fitness Tracker         3     180
20            Formal Shoes         3     180
21          Gaming Console         3    1200
22              Headphones         1     150
23                  Hoodie         2      50
24                   Jeans         3      90
25           Kitchen Scale         1      20
26                  Laptop         2     800
27  Point-and-Shoot Camera         2     500
28               Projector         2     400
29                Smart TV         3    3000
31                Sneakers         3     100
33              Steam Iron         3      60
34            Summer Dress         3      60
36                 Sweater         3      70
37              Sweatshirt         2      35
38                  Tablet         2     300
39                 Toaster         3      50
40        Wireless Charger         2      70
42          Wireless Mouse         3      75
43        Wireless Speaker         2     140